<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>Brand</h1>
        </div>
        <ul>
            <li> <img src="image/dashboard (2).png">&nbsp; <span>Dashboard</span> </li>
            <li> <img src="image/reading-book (1).png">&nbsp;<span>Courses</span> </li>
            <li> <img src="image/teacher2.png">&nbsp;<span>My Learning</span> </li>
            <li> <img src="image/school.png">&nbsp;<span>Certificates</span> </li>
            <li> <img src="image/payment.png">&nbsp;<span>Doubts</span> </li>
            <li> <img src="image/help-web-button.png">&nbsp; <span>Help</span></li>
            <li> <img src="image/settings.png">&nbsp;<span>Settings</span> </li>

        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"> <img src="image/search.png" alt=""></button>
                </div>
                <div class="user">
                    <a href="#" class="btn">Add New</a>
                    <div class="img-case">
                        <img src="image/user.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h3>Java</h3>
                    </div>
                    <div class="icon-case">
                        <img src="image/java.jpg" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h3>Photoshop</h3>
                    </div>
                    <div class="icon-case">
                        <img src="image/photoshop.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h3>Python</h3>
                    </div>
                    <div class="icon-case">
                        <img src="image/python.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h3>C++</h3>
                    </div>
                    <div class="icon-case">
                        <img src="image/cplusplus.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Explore More Courses</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Options</th>
                        </tr>
                        <tr>
                            <td>Javascript</td>
                            <td>$80</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>Nodejs</td>
                            <td>$90</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>Mongodb</td>
                            <td>$70</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>Flask</td>
                            <td>$100</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>AWS Cloud</td>
                            <td>$50</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>Software Testing</td>
                            <td>$50</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>